h1{
    text-align: center;
    background-color: darkgray;
    
}

.box{
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: auto;
    border: solid black 2px;
    
     
}   

.box img{
    height: 100%;
    width: 100%;
   
}

.css{
    font-family: 'Courier New', Courier, monospace;
    color:brown;
}

body{
    background-color: beige;
}

.column{
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height: 100px;
    border: 2px solid black;
} 

h2{
    font-weight: 900;
    font-size: 30px;
    color: #ff0000;
    text-align: center;

}

.css1{
    font-size: larger;
    line-height: 250%;
    text-align: center;

}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 2px solid #ff0000;
}